body {
	background-color: Black;
	color: #fff;
	text-align: center;
}
div.first-third {
	width: 30%
	float: left;
	margin-right: 5%
}

div.third {
	margin: 0;
}

img {
	max-width: 100%;
	height: auto;
	margin: 0 0 10px 0;
}
