div.first-third {
	width: 47.5%;
}

div.second-third {
	margin: 0;
}

div.third {
	clear: both;
	float: none;
	width: auto;
	padding: 20px 0 0 0;
}

@media screen and (max-width: 620px) {
	div.mobile-shrink {
		width: 33%
	}
}

@media screen and (max-width: 500px) {
	div.mobile-shrink {
		width: auto;
		float: none;
		margin-right: 0;
	}
}
